# pip
# virtualenv (recommended)
# virtualenvwrapper (recommended)
#   source virtualenvwrapper.sh
#   mkvirtualenv talk
#-e git+http://github.com/poo2013pos/python-talk.git
ipython
numpy
mathplotlib
ipdb
# Run: pip install -r requirements.txt
